// Font Variables
$roboto: 'Roboto'; 
$avenir-regular: 'Avenir-Regular';
$avenir-bold: 'Avenir-Bold';
$avenir-light: 'Avenir-Light';

//color 
$white: #FFFFFF;
$white_F4: #F4F3F3;
$white_EF: #EFF8FC;
$white_F7: #F7F7F7;
$white_C4:#C4C4C4;
$white_D9:#D9D9D9;
$white_F8:#F8F8F8;
$white_BF: #BFBFBF;
$white_FB: #FBFBFB;
$white_E0: #E0E0E0;
$black: #000;
$white_b7: #fcfcfc;
$white_E1: #E1E1E1;
$black_1A: #1A1A1A;
$black_4C: #4C4948;
$black_64: #646160;
$black_9e: #9e9e9e;
$black_26:#262626;
$black_4F:#4F4F4F;
$black_40:#403F3F;
$black_63:#636566;
$black_32:#323232;
$black_B5: #B5B2B2;
$black_82: #828282;
$black_e6: #e6e6e6;
$black_4F_linear: linear-gradient(295.87deg, #4F4F4F 23.36%, rgba(79, 79, 79, 0) 31.22%);
$yellow: #fbd61e;
$yellow_e6: #e6c206;
$yellow_FF:#FFE600;
$yellow_EC:#FFEC42;
$yellow_fffa: #fffacc;
$yellow_FB:linear-gradient(158.29deg, #FBD306 -22.36%, #FBC600 116.72%);
$yellow_divider:linear-gradient(180deg, rgba(255, 229, 0, 0) 0%, #FFE500 53.12%, rgba(255, 229, 0, 0) 100%);
$yellow_shade:radial-gradient(50% 50% at 50% 50%, rgba(255, 236, 66, 0.8) 14.06%, rgba(255, 255, 255, 0) 100%);
$yellow_E8:#E8BB00;
$yellow_grad_border:linear-gradient(45deg, #FFE500, rgba(255, 229, 0, 0));

$yellow_gradient: linear-gradient(165.49deg, #FFEC42 18.74%, rgba(255, 236, 66, 0) 47.57%);
$yellow_shades: linear-gradient(143.47deg, #FBD306 44.61%, #FFF500 75.22%);
$grey_high:linear-gradient(132.54deg, #676767 41.85%, rgba(255, 245, 0, 0) 41.86%);
$grey: #fbfafa;

$red_gardient: rgba(254, 160, 160, 0.2);


$red_FD:#FD9999;
$red_FC:#fc4b4bbf;
$yellow_b8: #fbd61eb8;
$yellow_F2: #F2C94C;

$red_EB: #EB5757;
$green_6F: #6FCF97;
$green_96: #96CC7F;
$green_27 :#27AE60;
$green_21: #219653;


// when check done delete it
$white_F6: #f6f6f6;
$black_75: #757575;
$white_F2: #f2f2f2;
$white_05_F2: rgba(242, 242, 242, 0.5);
$white_228: rgba(228, 228, 228, 0.5);
$black_BD: #bdbdbd;
$black_9E: #9e9e9e;
$black_55: #555555;
$black_33: #333333;
$east-bay: #3e3d71;
$green_20: #2094ac;
$green_00: #005b71;
$green_E3: #e3f2ee;
$red: #fc544b;
$red_FF: #FFEAEE;
$blue_7A: #7a88f1;
$green_72: #72d99a;
$green_5A: #5ab47d;
$yellow_F5: #f5c046;
$blue_4B: #4b8cc4;
$gray_BC: #bcbcbc;
$gray_white: rgba(255, 236, 66, 0.1);

// Border color
$border_color_EB: #ebebeb;

// // Font weight variables
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 800;
$extra_bold: 900;

// transport
$white_B5: #B5B2B2;
